*{
  text-decoration: none;
  
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.navbar{
  position:fixed;
    top:0;
    width:100%;
    z-index:100;
  background-color: #363636;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.button{
  text-decoration: none;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
}

  /*  Create  */

.createButton{
  text-decoration: none;
  background-color: #363636;
  font-weight: bold;
  color: white;
  padding: 50px;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-radius: 20px; 
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);
}

.createIcons{
margin-top: 20px;

}

.buttonDirection{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Add Event Form */

.form{
  background-color: #363636;
  width: 50%;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63); 
  margin: 10% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput{
  background: none;
  border: none;
  border: 3px solid white;
  width: 60%;
  color: white;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 20px -5px grey;
  font-weight: bold;
  font-size: 20px;

}

.createHeadline{
  color: white;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 60px;
  text-decoration: underline white;
}

.pictreHeadline{
  color: white;
  font-weight: bold;
}



::placeholder{
  color: white;
  font-weight: bold;
  font-size: 20px;


}

/* Address */

.addressHeadline{
  color: white;
  font-weight: bold;
}

.addAddress{
  display: flex;
  justify-content: center;
  width: 68%;
}

.formInputNum{
  background: none;
  border: none;
  border: 3px solid white;
  width: 60%;
  color: white;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 20px -5px grey;
  font-weight: bold;
  font-size: 20px;
  width: 25%;

}

/* Category */

.categoryHeadline{
  color: white;
  font-weight: bold;
  margin: 50px;
}

.selector{
  background-color: #363636;
}

/* Search Page */

.order{
  
  
}

/* .searchForm{
width: 25%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
border: 3px solid black;
} */

.searchForm{
  background-color: #363636;
  width: 300px;
  height: 100vh;
  padding: 30px;
  /* border-radius: 20px; */
  /* box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);  */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.searchFormInput{
  background: none;
  border: none;
  border: 3px solid white;
  width: 60%;
  color: white;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 20px -5px grey;
  font-weight: bold;
  font-size: 20px;

}

/* Event Card */

.eventCardLink{
  text-decoration: none;
}

.flex{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.eventCardOrder{
  display: flex;
  flex-wrap: wrap;
}

.eventCard{
  text-decoration: none;
  width: 300px;
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.63);
  border-radius: 20px;
  margin: 20px;

}

.myEventCardOrder{
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  
}

.userName{
  text-decoration: none;
  color: black;
  padding-top: 5px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.inCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.cardInfoBox{
width:300px;
}

.directInfo{
  display: flex;
  flex-direction: row;
  
}


.cardInfo{
  width: 135px;
}

.cardTitle{
  width: 200px;
  margin-top: -8px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: #363636;
  color: white;
  padding: 5px 5px;
  margin: 5px;
}

.myButtonDirection{
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button / Links */

.details-link{
  text-decoration: none;
  margin-top: 8px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: #363636;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
}
.details-button{
  text-decoration: none;
  margin-top: 8px;
  border-radius: 15px;
  border: 3px solid black;
  background-color: #363636;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin-left: 10%;

}

.logo{
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: 10%;
}

.LogoIcons{
  margin-right: 5px;
}

.icons{
  margin-left: 5px;
}



.details-link:hover{
  text-decoration: none;
  margin-top: 8px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
}

.details-btn{
  margin-top: 8px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: #363636;
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}

.details-btn:hover{
  margin-top: 10px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: white;
  color: black;
  padding: 10px;
}

/* Calendar Page */


.switchSection{
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.switchBar{
  
  border-radius: 20px;
  margin-top: 8px; 
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);
  height: 50px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.switchBarLinkOff{
  text-decoration: none;
  border-radius: 20px;
  background-color: #363636;
  color: white;
  font-weight: bold;
  padding: 15px 10px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}

.switchBarLinkOn{
  text-decoration: none;
  border-radius: 20px;
  color: Black;
  font-weight: bold;
  padding: 15px 10px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}

.myList{
  display: flex;
  flex-direction: row;
}

/* Login */

.loginBox{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.switchBox{
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.startForm{
  width: 400px;
  height: 500px;
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  border-radius: 20px;
  
}

.startSwitchBox{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 20px;
}


