/* *{
  border: 3px solid black
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: #363636;
  padding: 20px;
}

.button{
  text-decoration: none;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
}

  /*  Create  */

.createButton{
  text-decoration: none;
  background-color: #363636;
  font-weight: bold;
  color: white;
  padding: 50px;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-radius: 20px; 
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63);
}

.createIcons{
margin-top: 20px;

}

.buttonDirection{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Add Event Form */

.form{
  background-color: #363636;
  width: 50%;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0px 3px 21px 3px rgba(0,0,0,0.63); 
  margin: 10% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput{
  background: none;
  border: none;
  border: 3px solid white;
  width: 60%;
  color: white;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 20px -5px grey;
  font-weight: bold;
  font-size: 20px;

}

.createHeadline{
  color: white;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 60px;
  text-decoration: underline white;
}

.pictreHeadline{
  color: white;
  font-weight: bold;
}



::placeholder{
  color: white;
  font-weight: bold;
  font-size: 20px;


}

/* Address */

.addressHeadline{
  color: white;
  font-weight: bold;
}

.addAddress{
  display: flex;
  justify-content: center;
  width: 68%;
}

.formInputNum{
  background: none;
  border: none;
  border: 3px solid white;
  width: 60%;
  color: white;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 20px -5px grey;
  font-weight: bold;
  font-size: 20px;
  width: 25%;

}

/* Category */

.categoryHeadline{
  color: white;
  font-weight: bold;
  margin: 50px;
}

.selector{
  background-color: #363636;
}

/* Event Card */

.eventCard{
  width: 300px;
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.63);
  border-radius: 20px;
}

.userName{
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.inCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardInfoBox{
width:300px;
}

.directInfo{
  display: flex;
  flex-direction: row;
  
}


.cardInfo{
  width: 135px;
}

